{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}
    <div class="container-fluid hero-bg d-flex justify-content-end align-items-end">
        <div class="row position-absolute top-50 start-50 translate-middle">
            <div class="col-12 col-sm-10 m-auto">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="hero-text">
            <h1>Snowtricks</h1>
        </div>
    </div>

    <div id="tricks" class="container p-4">
        <h2 class="text-center mb-3">Les figures</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            {% for trick in tricks %}
                <div class="col mb-3">
                    <div class="card shadow">
                            {% if trick.pictures is not empty %}
                                {% set picture = trick.getFirstPicture %}
                                <img src="{{ asset('img/uploads/tricks/' ~ picture.source ) }}" class="card-img-top" alt="img">
                            {% else %}
                                <img src="{{ asset('img/static/default.jpg') }}" class="card-img-top" alt="default image">
                            {% endif %}                                
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between">
                                <a href="{{ path('app_trick_show', {id: trick.id, slug: trick.title |slug('-')|lower}) }}" class="text-decoration-none link-dark card-link trick-link">
                                    {{ trick.title }}
                                </a>
                                {% if app.user %}
                                <div class="d-flex justify-content-center">
                                    <a href="{{ path('app_trick_edit', {id: trick.id}) }}" class="text-decoration-none link-dark card-link trick-link d-linine-block" title="update"><i class="bx bx-pencil"></i></a>
                                    <form action="{{ path('app_trick_delete', {id: trick.id}) }}" method="post" class="ms-3">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                                        {# <a href="" class="text-decoration-none link-dark card-link trick-link" title="delete"><i class="bx bx-trash"></i></a> #}
                                        <button class="" title=""><i class="bx bx-trash"></i></button>
                                    </form>
                                </div>
                                {% endif %}
                            </h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted text-center">
                                {% if trick.updatedAt %}
                                    {{ 'Dernière modification le : ' ~ trick.updatedAt |date("d/m/Y") }}
                                {% else %}
                                    {{ 'Créé le : ' ~ trick.createdAt |date("d/m/Y") ~ ' à ' ~ trick.createdAt |date("H:i") }}
                                {% endif %}
                            </small>
                        </div>
                    </div>                
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-primary">Afficher plus</button>
            </div>
        </div> 
    </div>
{% endblock %}
