<div 
    id="{{ picture.vars.id ~ '_item'}}"
    class="
        collectionItem 
        {{ trick.mainPicture is not null and trick.mainPicture.id is same as(picture.vars.value.id) ? 'main-picture-subform' }}
        subform
        col
        dynamic-show
        d-none
        d-sm-flex
        flex-column"
>
    <div id="{{ picture.vars.id ~ '_card' }}" class="card shadow-sm m-2 m-lg-1 position-relative">
        <img
            class="card-img-top"
            src="{{ asset('img/uploads/tricks/' ~ picture.source.vars.value) }}"
            alt="{{ picture.alternateText.vars.value|default(trick.title ~ 'picture') }}"
            data-modal="{{ 'picture_' ~ picture.vars.value.id ~ '_modal' }}"
        >
        <div class="position-absolute media-edit-buttons-container bottom-0 end-0 shadow-lg m-2 d-flex rounded">
            {% if picture.vars.value.id in form.mainPicture|keys %} {# custom integration of main picture choice #}
                {{ form_row(form.mainPicture[picture.vars.value.id], {
                    'row_attr': {'class': 'd-inline-block'},
                    'label_attr': {'class': 'd-none'}, 
                    'attr': {
                        'class': 'mainPicture-radio',
                        'title': 'désigner cette image "à la une"'
                        }
                    })
                }}
            {% endif %}
            <button type="button" data-id="{{ picture.vars.id }}" class="btn btn-edit edit-picture shake" title="modifier">
                <i class="bx bx-pencil"></i>
            </button>
            <button 
                type="button"
                class="btn btn-modal-delete delete-picture shake"
                title="Supprimer définitivement"
                data-modal="{{picture.vars.id ~ '_modal'}}"
                data-element-remove="{{ picture.vars.id ~ '_item'}}"
            >
                <i class="bx bx-trash"></i>
            </button>
        </div>
    </div>
    {{ form_row(picture.source) }}
    {{ form_row(picture.alternateText, {'row_attr': {'class': 'mb-3 d-none form-row'}}) }}
    {{ form_row(picture.file, {'row_attr': {'class': 'mb-3 d-none form-row'}}) }}
    <button
        type="button"
        id="{{ picture.vars.id ~ '_cancel' }}"
        class='btn btn-danger m-auto mb-1 d-none'
    >
        Annuler <i class='bx bx-x bx-fw'></i>
    </button>
</div>
