{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row trick-medias my-4">
        <div id="trick-pictures" class="col-sm-6">
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 collectionHolder">
                {% for picture in form.pictures %}
                    {% if picture.vars.value.id is not null %} {# original pictures only #}
                        {{ include('trick/form_components/_original_picture.html.twig') }}
                    {% else %} {# if error feedback : error subforms + other valid new subforms sent #}
                        <div class="collectionItem subform errorSubForm col d-flex flex-column"  id="{{ 'trick_pictures_' ~ loop.index0 ~ '_item'}}">
                            <div id="{{ 'trick_pictures_' ~ loop.index0 ~ '_card' }}" class="card shadow-sm m-2 m-lg-1">
                                <img class="card-img-top" src="{{ asset('img/static/default-image-error.png') }}" alt="file error">
                            </div>
                            {{ form_row(picture.source) }}
                            {{ form_row(picture.alternateText, {'row_attr': {'class': 'mb-3 form-row'}}) }}
                            {{ form_row(picture.file, {'row_attr': {'class': 'mb-3 form-row'}}) }}
                            <button type="button" class='btn btn-danger m-auto mb-1'>Annuler <i class='bx bx-x bx-fw'></i></button>
                        </div>                        
                    {% endif %}
                {% endfor %}
            </div>
            <hr>
            {{ include('trick/form_components/_add_picture.html.twig') }}
        </div>
        <div id="trick-videos" class="col-sm-6">
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 collectionHolder">
                {% for video in form.videos %}
                    {% if video.vars.value.id is not null %} {# original videos only #}
                        {{ include('trick/form_components/_original_video.html.twig') }}
                    {% else %}
                        <div class="collectionItem subform errorSubForm col d-flex flex-column"  id="{{ 'trick_videos_' ~ loop.index0 ~ '_item'}}">
                            <div id="{{ 'trick_videos_' ~ loop.index0 ~ '_card' }}" class="card shadow-sm m-2 m-lg-1">
                                <iframe
                                    class="card-img-top"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            {{ form_row(video.source, {'row_attr': {'class': 'mb-3'}}) }}
                            <button type="button" class='btn btn-danger m-auto mb-1'>Annuler <i class='bx bx-x bx-fw'></i></button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <hr>
            {{ include('trick/form_components/_add_video.html.twig') }}
        </div>
    </div>
                            {% if form.pictures is not empty or form.videos is not empty %}
                                <div class="row d-flex d-sm-none">
                                    <hr>
                                    <div class="col-12 d-flex justify-content-center">
                                        <button type="button" id="showMedias" class="btn btn-primary mx-2">Afficher les médias</button>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <hr>
                                    <div class="col-12 d-flex justify-content-center">
                                        <span>Aucun média n'est associé à ce trick pour le momement <i class='bx bx-sad bx-fw'></i></span>
                                    </div>
                                </div>
                            {% endif %}
    <div class="row d-flex justify-content-center">
        <div class="col-sm-11 col-lg-10">
            <div class="trick__title px-1 px-md-5 mt-4">
                <div class="col-12 col-sm-8">
                {{ form_row(form.title) }}
                </div>
            </div>
            <div class="trick__description px-1 px-md-5">
                {{ form_row(form.description) }}
            </div>
            <div class="row trick-meta-data px-1 px-md-5 d-flex">
                <div class="col-12 col-sm-6 col-lg-4 mx-auto">
                    {{ form_row(form.category) }}
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mx-auto">
                    {{ form_row(form.usersWhiteList) }}
                </div>
            </div>
            <div class="trick-form-buttons-container px-1 px-md-5 d-flex justify-content-end">
                <div class="col-12 col-sm-6 col-lg-5 d-flex justify-content-end">
                    {% if onEditMode %}
                    <button 
                        type="button"
                        class="btn btn-danger btn-modal-delete delete-trick m-1"
                        data-modal="{{'trick_' ~ trick.id ~ '_delete_modal'}}"
                        data-form="{{'trick_' ~ trick.id ~ '_delete_form'}}"
                    >
                        <i class="bx bx-trash"></i> Supprimer le trick
                    </button>
                    {% endif %}
                    <button class="btn btn-primary m-1"><i class="bx bx-check"></i> {{ button_label|default('should not happen')}}</button>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
{% if onEditMode %}
    <form action="{{ path('app_trick_delete', {id: trick.id}) }}" id="{{'trick_' ~ trick.id ~ '_delete_form'}}" method="post" class="ms-3">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete_' ~ trick.id) }}">
    </form>
{% endif %}

{{ include('_modal_delete_template.html.twig') }}
{{ include('_modal_image_template.html.twig') }}

{% block stylesheets %}
    <link href='{{ asset('css/multi-select.css') }}' rel='stylesheet'>
{% endblock stylesheets %}

{% block javascripts %}
    <script src="{{ asset('js/addCollectionForm.js')}}"></script>
    <script src="{{ asset('js/showMediaForm.js')}}"></script>
    <script src="{{ asset('js/showMediasButton.js')}}"></script>
    <script src="{{ asset('js/dynamicMainPicture.js')}}"></script>
    <script src="{{ asset('js/multi-select-min.js')}}"></script>
    <script src="{{ asset('js/multi-select-bind.js')}}"></script>
    <script>
        window.addEventListener('load', () => {
            var multiSelect = new IconicMultiSelect({
                select: "#trick_usersWhiteList",
                placeholder: "Un ou plusieurs éditeurs...",
                noData: "Aucun éditeur disponible",
                noResults: "Aucun résultat",
            })
            multiSelect.init();
            bindMySelect("#trick_usersWhiteList", '.multiselect__options > ul');
        });
    </script>
{% endblock javascripts %}
