{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="row trick-medias my-4">
    <div id="trick-pictures" class="col-sm-6">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 collectionHolder">
            {% if onEditMode %}
                {% for picture in form.pictures %}
                    <div class="collectionItem subform col d-flex flex-column"  id="{{ picture.vars.id ~ '_item'}}">
                        <div id="{{ picture.vars.id ~ '_card' }}" class="card shadow-sm m-2 m-lg-1">
                            <img
                                class="card-img-top"
                                src="{{ asset('img/uploads/tricks/' ~ picture.source.vars.value) }}"
                                alt="{{ picture.alternateText |default(trick.title ~ 'picture') }}"
                            >
                            <div class="position-absolute media-edit-buttons-container bottom-0 end-0 shadow-lg m-2 rounded">
                                <button 
                                    type="button"
                                    data-id="{{ picture.vars.id }}"
                                    class="btn btn-edit edit-picture shake"
                                    title="modifier"
                                >
                                    <i class="bx bx-pencil"></i>
                                </button>
                                <button 
                                    type="button"
                                    class="btn btn-modal-delete delete-picture shake"
                                    title="Supprimer définitivement"
                                    data-target="{{picture.vars.id ~ '_modal'}}"
                                    data-token="{{ csrf_token('delete_picture' ~ picture.vars.value.id)}}"
                                    data-action="ajax"
                                    data-href="{{ path('app_trick_delete_picture', {id: picture.vars.value.id}) }}"
                                    data-element-remove="{{ picture.vars.id ~ '_item'}}"
                                >
                                    <i class="bx bx-trash"></i>
                                </button>
                            </div>
                        </div>
                        {{ form_row(picture.source) }}
                        {{ form_row(picture.alternateText, {'row_attr': {'class': 'mb-3 d-none form-row'}}) }}
                        {{ form_row(picture.file, {'row_attr': {'class': 'mb-3 d-none form-row'}}) }}
                        <button type="button" id="{{ picture.vars.id ~ '_cancel' }}" class='btn btn-danger m-auto mb-1 d-none'>Annuler <i class='bx bx-x bx-fw'></i></button>
                    </div>
                {% endfor %}
            {% endif %}
            {# A COMPLETER #}
            {# {% if form.pictures.vars.valid == false %}
            <div class="collectionItem col d-flex flex-column">
                <div id="" class="card shadow-sm m-2 m-lg-1">
                    <img
                        class="card-img-top"
                        src="{{ asset('img/static/default-image-error.png') }}"
                        alt="file error"
                    >
                    <div class="position-absolute media-edit-buttons-container bottom-0 end-0 shadow-lg m-2 rounded">
                        <button 
                            type="button" 
                            class="btn btn-edit edit-picture shake" 
                            title="modifier"
                        >
                            <i class="bx bx-pencil"></i>
                        </button>
                        <button 
                            type="button"
                            class="btn btn-delete shake"
                            title="supprimer définitivement"
                        >
                            <i class="bx bx-trash"></i>
                        </button>
                    </div>
                </div>
                {{ form_end(form.pictures) }}
                <button type="button" id="" class='btn btn-danger m-auto mb-1'>Annuler <i class='bx bx-x bx-fw'></i></button>
            </div>
            {% endif %} #}
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <span
                id="trick-pictures-form-prototype"
                data-prototype=
                    "<div id='trick_pictures___name___card' class='card shadow-sm m-2 m-lg-1'>
                        <img class='card-img-top' src='{{ asset('img/static/default-upload.png') }}' alt='waiting for file input'>
                    </div>
                    {{ form_row(form.pictures.vars.prototype)|e('html_attr') }}
                    <button type='button' class='btn btn-danger m-auto mb-1'>Annuler <i class='bx bx-x bx-fw'></i></button>"
            ></span>
            <button type="button" data-target="trick-pictures" class="btn btn-primary addSubformButton">Ajouter une image <i class='bx bx-image-add bx-fw'></i></button>
        </div>
    </div>
    <div id="trick-videos" class="col-sm-6">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 collectionHolder">
            {% if onEditMode %}
                {% for video in form.videos %}
                    <div class="collectionItem subform col d-flex flex-column" id="{{ video.vars.id ~ '_item'}}">
                        <div id="{{ video.vars.id ~ '_card' }}" class="card shadow-sm m-2 m-lg-1">
                            <iframe  class="card-img-top" src="{{ video.source.vars.value }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="position-absolute media-edit-buttons-container bottom-0 end-0 shadow-lg m-2 rounded">
                                <button 
                                    type="button"
                                    data-id="{{ video.vars.id }}"
                                    class="btn btn-edit edit-video shake"
                                    title="modifier"
                                >
                                    <i class="bx bx-pencil"></i>
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-modal-delete delete-video shake"
                                    title="supprimer définitivement"
                                    data-target="{{ video.vars.id ~ '_modal'}}"                              
                                    data-token="{{ csrf_token('delete_video' ~ video.vars.value.id)}}"
                                    data-action="ajax"
                                    data-href="{{ path('app_trick_delete_video', {id: video.vars.value.id}) }}"
                                    data-element-remove="{{ video.vars.id ~ '_item'}}"
                                >
                                    <i class="bx bx-trash"></i>
                                </button>
                            </div>
                        </div>
                        {{ form_row(video.source, {'row_attr': {'class': 'mb-3 d-none'}}) }}
                        <button type="button" id="{{ video.vars.id ~ '_cancel' }}" class='btn btn-danger m-auto mb-1 d-none'>Annuler <i class='bx bx-x bx-fw'></i></button>
                    </div>
                {% endfor %}
            {% endif %}
            {# A COMPLETER #}
            {# {% if form.videos.vars.valid == false %}
                    <div class="collectionItem col d-flex flex-column">
                        <div id="" class="card shadow-sm m-2 m-lg-1">
                            <iframe  class="card-img-top" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="position-absolute media-edit-buttons-container bottom-0 end-0 shadow-lg m-2 rounded">
                                <button type="button" data-id="" class="btn btn-edit edit-video shake" title="modifier"><i class="bx bx-pencil"></i></button>
                                <button type="button" class="btn btn-delete shake" title="supprimer définitivement"><i class="bx bx-trash"></i></button>
                            </div>
                        </div>
                        {{ form_errors(form.videos) }}
                        <button type="button" id="" class='btn btn-danger m-auto mb-1 d-none'>Annuler <i class='bx bx-x bx-fw'></i></button>
                    </div>            
            {% endif %} #}
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <span
                id="trick-videos-form-prototype"
                data-prototype=
                    "<div id='trick_videos___name___card' class='card shadow-sm m-2 m-lg-1'>
                            <iframe class='card-img-top bg-dark' src='' title='YouTube video player' frameborder='0' allowfullscreen></iframe>
                    </div>
                    {{ form_row(form.videos.vars.prototype)|e('html_attr') }}
                    <button type='button' class='btn btn-danger m-auto mb-1'>Annuler <i class='bx bx-x bx-fw'></i></button>"
            ></span>
            <button type="button" data-target="trick-videos" class="btn btn-primary addSubformButton" title="url de la vidéo youtube (exemple : https://www.youtube.com/watch?v=DT_qdbMdJeU)">
                Ajouter une vidéo
                <i class='bx bxl-youtube bx-fw'></i>
            </button>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-sm-11 col-lg-10">
        <div class="trick__title px-1 px-md-5 mt-4">
            <div class="col-12 col-sm-8">
            {{ form_row(form.title) }}
            </div>
        </div>

        <div class="trick__description px-1 px-md-5">
            {{ form_row(form.description) }}
        </div>

        <div class="trick-meta-data px-1 px-md-5">
            <div class="col-12 col-sm-6 col-lg-4">
                {{ form_row(form.category) }}
            </div>
        </div>

        <div class="trick-form-buttons-container px-1 px-md-5 d-flex justify-content-end">
            <div class="col-12 col-sm-6 col-lg-5 d-flex justify-content-end">
                {% if onEditMode %}
                <button 
                    type="button"
                    class="btn btn-danger btn-modal-delete delete-trick m-1"
                    data-target="{{'trick_' ~ trick.id ~ '_delete_modal'}}"
                    data-action="send-form"
                    data-form="{{'trick_' ~ trick.id ~ '_delete_form'}}"
                >
                    <i class="bx bx-trash"></i> Supprimer le trick
                </button>
                {% endif %}
                <button class="btn btn-primary m-1"><i class="bx bx-check"></i> {{ button_label|default('should not happen')}}</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}

<form action="{{ path('app_trick_delete', {id: trick.id}) }}" id="{{'trick_' ~ trick.id ~ '_delete_form'}}" method="post" class="ms-3">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
</form>
                

{{ include('_modal_template.html.twig') }}

{% block javascripts %}
    <script>
        window.onload = () => {
            loadEditButtons();
            loadAddSubformButtons();
            loadEditItemPreview();
            loadModalButtons();
        }
    </script>
    <script src="{{ asset('js/addCollectionForm.js')}}"></script>
    <script src="{{ asset('js/showMediaForm.js')}}"></script>
{% endblock javascripts %}