<nav aria-label="navigation">
    <ul class="pagination justify-content-center">
        {% if pages < 7 %} {# few pages #}
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link link-dark" href="{{ '?page=' ~ (page - 1) }}"><i class='bx bxs-left-arrow bx-fade-left-hover'></i></a>
                </li>
            {% endif %}
            {% for pageNumber in 1..pages %}
                <li class="page-item {{ pageNumber == page ? 'active'}}">
                    <a class="page-link" href="{{ '?page=' ~ pageNumber}}">{{ pageNumber }}</a>
                </li>
            {% endfor %}
            {% if page < pages %}
                <li class="page-item">
                    <a class="page-link link-dark" href="{{ '?page=' ~ (page + 1) }}"><i class='bx bxs-right-arrow bx-fade-right-hover'></i></a>
                </li>
            {% endif %}
        {% else %} {# many pages #}
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link link-dark" href="?page=1"><i class='bx bxs-chevrons-left bx-fade-left-hover'></i></a>
                </li>
                {% if page > 2 %}
                    <li class="page-item disabled">
                        <a class="page-link" href="">...</a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="{{ '?page=' ~ (page - 1) }}">{{ page - 1 }}</a>
                </li>
            {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="{{ '?page=' ~ page }}">{{ page }}</a>
                </li>
            {% if page < pages %}
                <li class="page-item">
                    <a class="page-link" href="{{ '?page=' ~ (page + 1) }}">{{ page + 1 }}</a>
                </li>
                {% if page + 1 < pages %}
                    <li class="page-item disabled">
                        <a class="page-link" href="">...</a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link link-dark" href="{{ '?page=' ~ pages }}"><i class='bx bxs-chevrons-right bx-fade-right-hover'></i></a>
                </li>
            {% endif %}
        {% endif %}                                    
    </ul>
</nav>                            
