{% extends 'base_hero.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal text-center">Changer le mot de passe</h1>

    {{ form_start(form, {'attr':{'class': 'px-2 px-sm-4'}}) }}
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.newPassword) }}

        <div class="text-center">
            <button class="btn btn-primary" type="submit">Confirmer</button>
            <small class="mt-3 d-block text-muted fst-italic">Vous devrez vous connecter à nouveau après cette opération</small>         
            <a href="{{ path('app_forgot_password_request') }}" class="mt-3 d-block">Mot de passe oublié ?</a>                    
        </div>

    {{ form_end(form) }}

{% endblock %}
